body {
    background: #F5F5DC
;
    font-family: "comic sans MS";
}





    table {
        border: solid 1px black;
        padding:10px ;
        background: blue;




    }

#p1 {
    color:green;
}

form {
    text-align: center;
    font-size: 123px;
    font-family: "Source Code Pro";
}
