body {
    background: #F5F5DC
;
    font-family: "comic sans MS";
    text-align: center;



;
}
head {
    background: green;




}

 h1 {
     color: blue;
     background-color: white;
 }
 p {color: blue;}
 #header {

    color: aqua;
 }

a:hover {
    text-decoration: underline;


}

a:link, a:visited {
    background-color: #f44336;
    color: black ;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid blue;
}

a:hover, a:active {
    background-color: red;
}

image {
    width: 300px;
    height: 300px;
}


table {

    border: black 10px;

}

td {
    border: black solid 1px;
}

