body {
    background: #F5F5DC
;
    font-family: "comic sans MS";
    text-align: center;



;
}
head {
    background: green;




}

 h1 {
     color: blue;
     background-color: white;
 }
 p {color: blue;}
 #header {

    color: aqua;
 }

a:hover {
    text-decoration: underline;


}

a:hover, a:active {
    background-color: red;
}

image {
    width: 300px;
    height: 300px;
}


table {

    border: black 10px;

}

td {
    border: black solid 1px;
}

#titlebar {
    solid-color: black;
    margin: 2px;
}

#navi {
    border: 1px solid blue;
}

#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #748564;
}

#navi li {
    padding-left: 10px;
    padding-right: 10px;
}
