body {
    background: #F5F5DC
;
    font-family: "comic sans MS";
    text-align: center
;
}
head {
    background: green;



}

 h1 {color: blue;}
 p {color: blue;}
 #header {

    color: aqua;
 }


