body {
    background: #002B4D;
}

h1  {
    text-align: center;
    font-size: 45px;
    background: #c8d1d9;
    border-radius: 50px;
    border:solid black 1px;
    width:100%;
    justify-self: center;
    height: auto;
    margin-top: 20px;
}